:root {
  --primary-color: #225946;
  --secondary-color: #fa7191;
  --alternate-color: #e5e1c5;
}

body {
  font-family: "Inter", sans-serif;
}

.cover {
  background-image: url("images/undraw_Eating_together.png");
  border: ridge var(--primary-color);
  background-size: contain;
  border-radius: 10px;
  height: 12cm;
  filter: brightness(1);
  margin-top: 10px;
}

.nav-title {
  font-size: 32px;
  color: var(--primary-color);
  font-weight: bold;
}

.nav-title:hover {
  color: white;
  border: 5px solid;
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: all 0.9s ease-in-out;
}

.pages {
  text-decoration: none;
  font-size: 30px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  opacity: 0.8;
  border-radius: 4px;
}

.pages:hover {
  color: white;
  border: 5px solid var(--secondary-color);
  border-radius: 40px;
  background-color: var(--primary-color);
  padding: 10px;
  margin: 0;
  transition: all 0.5s ease;
}

.pages-icon {
  color: var(--primary-color);
  font-size: 30px;
}

.footer {
  background-color: var(--primary-color);
}

.img-styling {
  border: 3px solid none;
  border-radius: 5px;
}

.img-filter {
  filter: brightness(1.4);
}

.profile-img {
  border-radius: 5px;
}

.blog-link {
  text-decoration: none;
  color: var(--primary-color);
}

.social-media-links {
  text-decoration: none;
  color: var(--alternate-color);
}

.blog-link:hover,
.social-media-links:hover {
  color: var(--secondary-color);
}

.recipes-img {
  width: 480px;
  height: 450px;
  margin-top: 27px;
  border-radius: 12px;
}

.recipe-details {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px dotted var(--primary-color);
  width: 760px;
  color: var(--primary-color);
}

.recipe-name {
  color: var(--secondary-color);
}
.ingredients-method {
  display: flex;
}

.ingredients,
.method {
  flex: 1;
  color: var(--primary-color);
}

.ingredients {
  list-style: none;
  text-decoration: underline var(--secondary-color);
  line-height: 30px;
  padding: 0px;
  margin-top: 20px;
}
.method {
  font-size: 18px;
  margin-left: 0px;
}

.method > h5 {
  color: var(--secondary-color);
  font-size: 18px;
}

@media (max-width: 576px) {
  .home-img {
    display: none;
  }

  h1 {
    font-size: 30px;
  }

  h4 {
    font-size: 16px;
    display: block;
  }
  h5 {
    display: block;
  }

  .about-text {
    font-size: 13px;
  }

  .recipe-details{
  direction:ltr;
  max-width: 390px;
  }
}


@media (min-width: 768px) {
  .recipe-3 {
    width: 760px;
  }
  .method {
    display: inline;
  }

  .about-text {
    display: inline-block;
  }
}
