:root {
  --primary-color: #225946;
  --secondary-color: #fa7191;
  --alternate-color: #e5e1c5;
}

body {
  font-family: "Inter", sans-serif;
}

.cover {
  background-image: url("images/ingredients.jpeg");
  background-size: cover;
  border-radius: 10px;
  max-width: 800px;
  height: 12cm;
  filter: brightness(1);
}

.navbar-bg {
  background-color: var(--secondary-color);
}

.nav-title {
  font-size: 32px;
  color: var(--primary-color);
  font-weight: bold;
}

.nav-title:hover {
  color: white;
  border: 5px solid;
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: all 0.9s ease-in-out;
}

.pages {
  text-decoration: none;
  font-size: 30px;
  color: var(--primary-color);
  background-color: transparent;
  opacity: 0.8;
}

.pages:hover {
  color: white;
  border: 5px solid var(--secondary-color);
  border-radius: 40px;
  background-color: var(--primary-color);
  padding: 10px;
  margin: 0;
  transition: all 0.5s ease;
}

.footer {
  background-color: var(--primary-color);
}

.img-styling {
  border: 3px solid transparent;
  border-radius: 5px;
}

.img-filter {
  filter: brightness(1.4);
}

@media (max-width: 576px) {
  img {
    display: none;
  }

  h1 {
    font-size: 20px;
  }
  h5 {
    display: block;
  }

  .name,.about-text{
    display: block;
  }
}
